html
  head
    meta(charset='utf-8')
    title The Onyx Software Foundation
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='The Foundation behind the Onyx programming language')
    link(rel='icon', href='/public/img/logo.svg', sizes='any', type='image/svg+xml')
    link(rel="stylesheet", href="/public/style/index.css")
  body
    header
      img(src='/public/img/logo.svg')
      h1 Onyx Software Foundation
      p Welcome to the official Onyx Software Foundation (a.k.a. NXSF) website.
    main
      h2 📝 Specifications:
      ul
        li
          a(href='/onyx/') The Onyx programming language (HTML)
        li
          a(href='/onyx/index.pdf') The Onyx programming language (PDF)
        li
          a(href='/dson') DSON (HTML)
        li
          a(href='/dson-schema') DSON-Schema (HTML)
      h2 🎩 Official links:
      ul
        li
          a(href='https://twitter.com/nxsforg') NXSF Twitter
        li
          a(href='https://github.com/nxsf') NXSF GitHub
        li
          a(href='https://t.me/nxsforg') NXSF Telegram
      h2 💃 Unofficial links
      p
        | Contents of the following communities is not moderated by NXSF.
      ul
        li
          a(href='https://t.me/joinchat/AL9Pk1cHdtVP90mMnveQ6A') English-speaking Telegram Group
        li
          a(href='https://t.me/joinchat/AL9PkxtaDgV9XdyE3ZslKA') Russian-speaking Telegram Group
      p
        | You can add a link by creating a Pull Request at&nbsp;
        a(href="https://github.com/nxsf/nxsf.github.io") GitHub
        | .
      h2.roadmap 🎯 Roadmap
      h3 Pre-alpha
      p.estimated Estimated date: Now
      p
        | Some standards are available to read, but not licensed yet.
        | No changes to specifications are accepted officially.
      p
        | NXSF does not accept any donations officially.
      h3 Alpha
      p.estimated Estimated date: November 2020 - January 2021
      p
        | Major standards, including the Onyx programming language standard, are considered complete draft (
        code v0.0.*
        | ) and licensed to free use and modify.
      p
        | The stage is intended to reveal apparent mistakes in the specifications and polish them to meet the guidelines.
      p
        | No official standardization process is established yet.
        | Pull requests are accepted with mandatory prior copyright waive.
        | Standardization tools are being formed, such as RFC platform and algorithms, funding, election.
      p
        | The package hosting platform is being developed.
      p
        | The Onyx Software Foundation accepts tax-exemptive donations without a right to vote.
      h3 Beta
      p.estimated Estimated date: Unknown
      p
        | Major standards move to the beta stage (
        code v0.*.*
        | ).
        | Concepts are mostly stabilized, and specifications follow all the guidelines.
      p
        | Standardization tooling is actively developed and tested, but no official standardization process is established yet.
      p
        | The package hosting platform enables the funding program.
      h3 Release
      p.estimated Estimated date: Unknown
      p
        | Major standards are stabilized (
        code v1.*.*
        | ).
      p
        | Official standardization process is established.
